:local(.avatar) {
    position: relative;
 }

:local(.avatar) img{
  width: 150px;
}

:local(.flag) {
    position: absolute;
    width: 200px;
}

:local(.flag) img{
    position: absolute;
    right: 15px;
    top: 10px;
  }