* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-weight: 500;
}

body{
  background-color: #ffff;/*#A4BAB8;*/
}

#root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wave-loader-wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: center;
  grid-column: 1 / -1;
  min-height: calc(100vh - 70px);
}

.wave-loader{
  height: 10rem;
}