* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-weight: 500;
}

body{
  background-color: #ffff;/*#A4BAB8;*/
}

#root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.person {
  background: #eeeeee;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  transition: all 0.3s linear;
  border-radius: 0.3rem;
  text-align: center;
}

.person img {
  border-radius: 50%;
  border: 0.1rem solid teal;
}

.person h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.wave-loader-wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: calc(100vh - 70px);
}

.wave-loader{
  height: 10rem;
}